body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: Arial, sans-serif;
}

canvas {
  border: 2px solid #808080; /* Solid grey border */
  background-color: #8BC34A; /* Grass green background color */
  width: 80vw; /* 80% of the viewport width */
  max-width: 400px; /* Maximum width of 400px */
  aspect-ratio: 1/1; /* Maintain a square aspect ratio for the canvas */
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

#score {
  margin-top: 10px;
  font-size: 18px;
  color: #FFFFFF; /* White color for the score */
}

#high-score {
  margin-top: 10px;
  font-size: 18px;
  color: #FFFFFF; /* White color for the high score */
}

/* Styles for the modal */
#myModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 2px solid #333;
  z-index: 1;
}

#modalContent {
  text-align: center;
}

#modalBtn {
  padding: 10px;
  font-size: 16px;
}

#currentScore {
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}